.googleLogo {
    width: 18%;
}

.profilePicture {
    width: 10%;
}

.profile-image {
    width: 40%;
}

a {
    color: black;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #057b6b;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#animal {
    display: flex;
    align-items: flex-end;
}

section {
    background-color: rgb(67, 66, 66);
    height: 77vh;
}

.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
}

.Google {
    font-size: 100px;
    font-weight: bold;
    color: #2371ef;
    margin-bottom: 10px;
}

.search {
    width: 300px;
    height: 30px;
    border: 1px solid #223b6e;
    border-radius: 20px;
}

.search1 {
    width: 300px;
    height: 30px;
    border: 1px solid #223b6e;
    border-radius: 20px;
}

.button {
    background-color: #2962d5;
    color: white;
    position: absolute;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 75%;
    top: 46%;
}

.button:hover {
    cursor: pointer;
    background-color: #557bc6;
}

footer {
    background-color: #057b6b;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footerText {
    display: flex;
    justify-content: center;
    padding: 20px;
}


.search1 {
    width: 400px;
}

.search1 placeholder {
    justify-content: flex;
}

main {
    
}


  
footer button {
    background-color: #2962d5;
    color: white;
    position: absolute;
    padding: 10px 20px;
    border: none;
    justify-content: flex-start;
}

footer button:hover {
    cursor: pointer;
    background-color: #557bc6;
} 

